<section class="jumbotron text-center">
  <div class="container">
    <h1 appLocalization="gui_jumbotron_title"></h1>
    <p class="lead text-muted" appLocalization="gui_jumbotron_description1"></p>
    <p class="lead text-muted" appLocalization="gui_jumbotron_description2"></p>
  </div>
</section>
<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <div class="card  mb-4 shadow-sm" style="width: 100%;">
          <div class="card-body">
            <h5 class="card-title" appLocalization="gui_homepage_udhyogDarta"></h5>
            <p class="card-text" appLocalization="gui_homepage_udhyogDarta_description"></p>
            <p>
              <a routerLink="/udhyog" class="btn btn-primary my-2" appLocalization="gui_homepage_udhyogDarta"></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card  mb-4 shadow-sm" style="width: 100%;">
          <div class="card-body">
            <h5 class="card-title" appLocalization="gui_homepage_badijyaDarta"></h5>
            <p class="card-text" appLocalization="gui_homepage_badijyaDarta_description"></p>
            <p>
              <a routerLink="/" class="btn btn-primary my-2 disabled" appLocalization="gui_homepage_badijyaDarta"></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card  mb-4 shadow-sm" style="width: 100%;">
          <div class="card-body">
            <h5 class="card-title" appLocalization="gui_homepage_talimDarta"></h5>
            <p class="card-text" appLocalization="gui_homepage_talimDarta_description"></p>
            <p>
              <a routerLink="/"
                 class="btn btn-primary my-2 disabled"
                 appLocalization="gui_homepage_talimDarta"></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
