<section class="jumbotron text-center">
  <div class="container">
    <h1>Album example</h1>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
  </div>
</section>
<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <div class="card  mb-4 shadow-sm" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title" appLocalization="gui_homepage_udhyogDarta"></h5>
            <p class="card-text" appLocalization="gui_homepage_udhyogDarta_description"></p>
            <p>
              <a href="/udhyog-registration" class="btn btn-primary my-2" appLocalization="gui_homepage_udhyogDarta"></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card  mb-4 shadow-sm" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title" appLocalization="gui_homepage_badijyaDarta"></h5>
            <p class="card-text" appLocalization="gui_homepage_badijyaDarta_description"></p>
            <p>
              <a href="#" class="btn btn-primary my-2" appLocalization="gui_homepage_badijyaDarta"></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card  mb-4 shadow-sm" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title" appLocalization="gui_homepage_talimDarta"></h5>
            <p class="card-text" appLocalization="gui_homepage_talimDarta_description"></p>
            <p>
              <a href="/udhyog-registration"
                 class="btn btn-primary my-2"
                 appLocalization="gui_homepage_talimDarta"></a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card  mb-4 shadow-sm" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card  mb-4 shadow-sm" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card  mb-4 shadow-sm" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card  mb-4 shadow-sm" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card  mb-4 shadow-sm" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card  mb-4 shadow-sm" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
